@font-face {
    font-family: amatic;
    src: url(fonts/AmaticSC-Bold.ttf);
	color: black;
}

/* url("media/rooster.png") */

.title-image {
    	width: 100vw;
  	position: relative;
  	left: calc(-50vw + 50%);
	background: red;
}


.content {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background: ECF0F1;
	padding: 20px;


}


.rooster-image{
	object-fit: contain;	
	min-width: 20px;
	min-heigth: 20px;
	position: absolute;
	width: 80%;	
	top: 10%;
	left: 60%;
	z-index: -1;		
		
}


@media screen and (max-width: 1300px) {
.rooster-image{
	object-fit: contain;	
	min-width: 50px;
	min-heigth: 50px;
	position: absolute;
	width: 80%;	
	top: 10%;
	left: 20%;

}
}

.rooster-wrapper{
	flex: 1;
	position: relative;

}

.title{
	flex: 2;
	margin-top: auto;
	font-size: min(12vw, 120px);

}

.x-button-container{
	float: right;

}

.x-button{
	height: 20px;
	width: 20px;

}

.App-header {	
 	color: black;
	font-family: amatic;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	min-height: 50px;
}

.webcam{
	width: 100%;
	padding: 20px;
}

.button-container{
	display: flex;
	align-items: center;
	justify-content: center;
}


*{box-sizing: border-box;}

.tile-title{
	background: #2980B9;
	padding: 10px 20px;
	width: 100%;
	color: white;
	
}

.App-link {
  	color: #61dafb;
}

.icon {
	height: 40px;
	width: 40px;
}

.tile-wrapper{
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tile-row{
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 24px;
}

.tile-text-row{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	padding: 20px 0;
}

.tile-keyword-row-green{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	color: green;
	padding: 20px 0;
}

.tile-keyword-row-red{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	color: red;
	padding: 20px 0;
}

.tile-keyword-row-orange{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	color: orange;
	padding: 20px 0;
}

.rcorners {
 	border-radius: 7px;
 	background: #FFFFFF;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.rcorner-0 {
	grid-column-start: 1;
	grid-row-start: 1;
}

.rcorner-chart {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	gap: 20px;
}

.rcorner-3 {
	grid-column-start: 1;
	grid-column-end: 3;
}



.grid {
  	display: grid;
	justify-content: center;	
  	gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 600px) {
.grid {
  	display: flex;
	flex-direction: column;
}
}

.control-wrapper {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 20px;
}



